html {
  font-family: Lora, serif;
}

.masthead {
  background-image: url("../images/banner.jpg");
  background-color: #588477;
  border-top: 3px solid #2d5a4d;
  border-bottom: 3px solid #2d5a4d;
  background-size: 50px auto;
  background-repeat: repeat;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  background-color: #467366;
}

.nav a:hover {
    color: #145b1d;
    background-image: url("../images.leaf-bg.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.banner {
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(16, 52, 41, 0) 70%, rgba(16, 52, 41, .8) 100%),url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.banner-content {
  background-color: #2d5a4d;
  background-size: #588477;
  padding-bottom: 300px;

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
